.main
  .main__form
    .main__form__text
      テキストフィールド
    .main__form__bottom
      .main__form__bottom__tag
        タグフィールド
      .main__form__bottom__image
        = icon('fas', 'image')
      .main__form__bottom__send
        send
  .main-__tweets
    = render "tweets"
    = render "tweets"
  